RewriteEngine On

# Redirect to public folder
RewriteCond %{REQUEST_URI} !^/tasksystem/public/
RewriteRule ^(.*)$ public/$1 [L]

# Route requests
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]